---
import Image from "../components/Image.astro";
import { type ImageMetadata } from "astro";
import type { Photo } from "../photos";

interface Props {
  images: Photo[];
  title: string;
  description: string;
}

const { images, title, description } = Astro.props;
---

<div class="album">
  <div class="text-black mb-5">
    <p class="title mb-3">{title}</p>
    <p class="description">{description}</p>
  </div>
  <div class="grid grid-cols-2 md:grid-cols-3 gap-10">
    {
      [images, images.toReversed(), images].map((img_arr) => {
        return (
          <div class="grid gap-10">
            {img_arr.map((img) => {
              return (
                <Image data={img}/>
              );
            })}
          </div>
        );
      })
    }
  </div>
</div>

<style>

  .album {
    font-family: 'Acari Sans Neue';
    width: 100%;
  }

  .title {
    font-weight: 600;
  }

  .description {
    font-size: 14px;
    font-weight: 300;
    line-height: 1;
    width: 80%;
  }
</style>
