---

const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1);
---
<header>
  <nav class="flex navbar">
    <div>
      <a href="/"><h1 class="logo">NÉNYEI LUJZA</h1></a>
    </div>
    <div class="ml-auto menu">
      <a class=`${currentPath === 'mutargy' ? 'active' : ''}` href="/mutargy">Műtárgy</a>
      <a class=`${currentPath === 'bemutatkozas' ? 'active' : ''} ml-5` href="/bemutatkozas">Bemutatkozás</a>
    </div>
  </nav>
</header>

<style>

  .menu {
    display: flex;
    align-items: center;
  }

  .menu a {
    color: black;
    text-decoration: none;
  }

  .menu a.active {
    text-underline-offset: 7px;
    text-decoration: underline solid #cecece 1px;
  }

  .logo {
    font-weight: 100;
    font-size: 40px;
  }
</style>